.loader {
  background: rgba(0,0,0,.6);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  top: 0;
}

.loader.show {
  display: block;
}

.loader .spinner-container {
  left: 50%;
  position: absolute;
  top: 10%;
  transform: translate(-50%);
}