.landing-page-header {
  background: var(--secondary);
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.landing-page-header a {
  color: var(--white) !important;
}

.landing-page-header .navbar-brand {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 68px;
  padding-bottom: 0;
  padding-top: 0;
}

.landing-page-header .navbar-toggle {
  border: none;
}

.landing-page-header .navbar-toggle .icon-bar {
  background-color: white !important;
  border-radius: 0px;
  height: 3px;
  margin-bottom: 2px;
  width: 24px;
}

@media(min-width: 992px) {
  .landing-page-header .navbar-brand {
    font-size: 28px;
  }
}