.event-card {
  background: var(--light-gray);
  color: var(--white);
  display: block;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.event-card:hover {
  color: var(--secondary);
}

@media(min-width: 768px) {
  .event-card {
    margin-bottom: 60px;
    margin-right: 25px;
    width: calc(25% - 25px);
  }
}