.event-card-container {
  margin-bottom: 40px;
}

.event-card {
  background-color: var(--light-gray);
  padding: 25px;
}

.event-card .event-name {
  color: var(--primary);
  font-size: 20px;
  font-weight: 600;
}

.event-card .view-more {
  color: var(--accent);
  font-size: 16px;
}

.event-card .delete-button {
  background: transparent;
  border: none;
  color: var(--red);
  position: absolute;
  right: 30px;
}