.event-card {
  background: var(--light-gray);
  color: var(--white);
  display: block;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
  width: 100%;
}

.event-card a:hover {
  color: var(--secondary);
}

.event-card h3 {
  display: inline-block;
}

.event-card delete-button {
  border-radius: none;
  background-color: var(--primary);
  color: black;
  position: absolute;
  right: 15px;
  top: 10px;
}

@media(min-width: 768px) {
  .event-card {
    margin-bottom: 60px;
    margin-right: 25px;
    width: calc(25% - 25px);
  }
}