/**************************************
Color Variables
**************************************/
:root {
  /* colors */
  --primary: #22313F;
  --secondary: #F2784B;
  --accent: #00AEEF;
  --white: #FFFFFF;
  --light-gray: #E4EAEC;
  --medium-gray: #A1A6BB;
  --dark-gray: #76838F;
  --black: #001021;
  --red: #D91E18;

  /* fonts */
  --font: 'Barlow', sans-serif;
  --base-font-size: 16px;
}

/**************************************
Base
**************************************/
html, body {
  box-sizing: border-box;
  height: 100%;
  font-family: var(--font);
  font-size: var(--base-font-size);
}

/**************************************
Helpers
**************************************/
.text-danger, .danger {
  color: var(--red);
}

.bg-danger, .btn-danger {
  background-color: var(--red);
}

.btn {
  border-radius: 0;
  border: none;
  padding: 9px 12px;
}

.btn-primary {
  background: var(--primary);
  color: white;
}

.btn-secondary {
  background: var(--secondary);
  color: white;
}

.btn-accent {
  background: var(--accent);
  color: white;
}

/**************************************
Input Styles
**************************************/
input.input-invalid {
  border-color: var(--red);
}
